---
import Layout from '@/Layout.astro';
import Footer from '@sections/Footer.astro';
import Navbar from '@sections/Navbar.astro';
import NotFound from '@sections/NotFound.astro';

export const prerender = false;
---

<Layout
    description="您访问的页面不存在。"
    title="404 &mdash; 惠泽健康"
>
    <Navbar />
    <main class="flex-1">
        <NotFound />
    </main>
    <Footer />
</Layout>
